<ion-header [translucent]="true">
  <ion-toolbar>
    <!--<ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-title">
    Inicia Sesión
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    
    <ion-item *ngIf="!isAdmin">
      <ion-label position="floating">Número de teléfono</ion-label>
      <ion-input type="tel" formControlName="telefono"></ion-input>
    </ion-item>

    <ng-container *ngIf="isAdmin">
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" formControlName="correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="contrasena"></ion-input>
      </ion-item>
    </ng-container>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      Acceder
    </ion-button>
     <ion-button fill="clear" expand="full" (click)="toggleMode()">
    {{ isAdmin ? 'Soy Empleado' : 'Soy Administrador' }}
  </ion-button>
  </form>

 
</ion-content>
