<ion-content class="ion-padding custom-background">

  <div class="header-container">
    <div class="logo-icon-container">
      <ion-icon name="restaurant-outline" class="logo-icon"></ion-icon>
    </div>
    <div class="title-text-container">
      <h1 class="title-order">ORDER</h1>
      <h1 class="title-pro">PRO</h1>
    </div>
  </div>

  <div class="nav-menu">


    <span class="nav-item" [class.active-nav]="seccionActiva==='salir'" (click)="seleccionarSeccion('salir')">Salir</span>
  </div>

  <div *ngIf="seccionActiva==='productos'">

<div class="welcome-header" *ngIf="showmenu">
    <h1>Bienvenido</h1>
  </div>

  <ion-grid *ngIf="showmenu">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="takeOrder()">
          Tomar Orden
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="viewSummary()">
          Resumen de órdenes
        </div>
      </ion-col>

      <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="endDay()">
          Finalizar día
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="endDay()">
          Finalizar día
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



 <div class="main-container" *ngIf="!showmenu">
    
    <div class="header">
      <h1>Tomar Orden</h1>
    </div>

    <ion-grid class="client-table-grid">
      <ion-row>
       <ion-col size="6">
  <label>Nombre del cliente</label>
  <div class="input-container">
    <input type="text" placeholder="Escribe el nombre" [(ngModel)]="clientName">
  </div>
</ion-col>
<ion-col size="6">
  <label>Mesa</label>
  <div class="input-container">
    <input type="text" placeholder="Ej: 5" [(ngModel)]="tableNumber">
  </div>
</ion-col>

      </ion-row>
    </ion-grid>

    <h2>Productos</h2>
 <div class="products-section">
  <div class="product-cards-container">
   <div class="product-card dynamic-product" *ngFor="let producto of productos">
  {{ producto.nombre }}
  <br>
  ${{ producto.precio }}
  <ion-icon  
            name="add-circle" 
            class="add-icon" 
            (click)="addProductToOrder(producto)">
  </ion-icon>
</div>

  </div>
</div>

    
<div class="order-detail-box">
  <h2>Detalle del pedido</h2>
  
  <table class="order-table">
    <thead>
      <tr>
        <th class="col-nombre">Nombre</th>
        <th class="col-cantidad">Cantidad</th>
        <th class="col-comentarios">Comentarios</th>
        <th class="col-precio">Precio</th>
        <th class="col-acciones">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderItems; let i = index" [class.highlight-row]="i % 2 === 1">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.comment }}</td>
        <td>${{ item.price }}</td>
        <td class="actions-cell">
          <ion-icon name="pencil-outline" class="edit-icon" (click)="editItem(i)"></ion-icon>
          <ion-icon name="trash-outline" class="delete-icon" (click)="removeItem(i)"></ion-icon>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="totals-area">
    <div class="total-row">
      <label for="tip-input">Propina</label>
      <div class="tip-input-container">
    <select id="tip-input" class="tip-select" [(ngModel)]="tip" (change)="calculateTotal()">
  <option [value]="0">0.00%</option>
  <option *ngFor="let propina of propinas" [value]="propina.cantidad_porcentaje">
    {{ propina.cantidad_porcentaje }}%
  </option>
</select>



      </div>
    </div>
    <div class="total-row">
      <span class="total-label">Total</span>
      <span class="total-value">${{ totalAmount }}</span>
    </div>
  </div>
</div>
    
<div class="save-button-container">
   <button class="save-button" (click)="backToMenu()">Volver</button>
      <button class="save-button" (click)="saveOrder()">Guardar</button>
     
    </div>

  </div>
  </div>

<div class="main-container" *ngIf="seccionActiva==='resumen' && !showmenu">
  <div class="header">
    <h1>Resumen de Órdenes</h1>
  </div>

  <table class="order-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Mesa</th>
        <th>Estatus</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orden of ordenes; let i = index" [class.highlight-row]="i % 2 === 1">
        <td>{{ orden.nombre_orden }}</td>
        <td>{{ orden.mesa }}</td>
        <td>{{ orden.estatus }}</td>
        <td>${{ orden.total }}</td>
        <td class="actions-cell">
          <ion-icon name="eye-outline" class="view-icon" (click)="verDetalle(orden)"></ion-icon>
          <ion-icon name="checkmark-circle-outline" class="finish-icon" (click)="finalizarOrden(orden)" 
                    *ngIf="orden.estatus !== 'Finalizada'"></ion-icon>
          
          <ion-icon name="trash-outline" class="delete-icon" (click)="eliminarOrden(orden)" 
                    *ngIf="orden.estatus === 'Finalizada'"></ion-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="save-button-container">
   <button class="save-button" (click)="backToMenu()">Volver</button>
     
    </div>
</div>

  <div *ngIf="seccionActiva==='salir'">
    <h2>Salir de la aplicación</h2>
    <ion-button color="danger" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </div>

</ion-content>