<ion-content class="ion-padding custom-background">

  <div class="header-container">
    <div class="logo-icon-container">
      <ion-icon name="restaurant-outline" class="logo-icon"></ion-icon>
    </div>
    <div class="title-text-container">
      <h1 class="title-order">ORDER</h1>
      <h1 class="title-pro">PRO</h1>
    </div>
  </div>

  <div class="nav-menu">


    <span class="nav-item" [class.active-nav]="seccionActiva==='salir'" (click)="seleccionarSeccion('salir')">Salir</span>
  </div>

  <div *ngIf="seccionActiva==='productos'">

<div class="welcome-header" *ngIf="showmenu">
    <h1>Bienvenido {{userName}}</h1>
  </div>

  <ion-grid *ngIf="showmenu">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="takeOrder()">
          Tomar Orden
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="viewSummary()">
          Resumen de órdenes
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="seleccionarSeccion('historial')">
  Historial del día
</div>
      </ion-col>

      <!--<ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="endDay()">
          Finalizar día
        </div>
      </ion-col>-->
     <!-- <ion-col size="6" size-md="4" class="ion-padding">
        <div class="action-card" (click)="endDay()">
          Finalizar día
        </div>
      </ion-col>-->
    </ion-row>
  </ion-grid>



 <div class="main-container" *ngIf="!showmenu && always">
    
    <div class="header">
      <h1>Tomar Orden</h1>
    </div>

    <ion-grid class="client-table-grid">
      <ion-row>
       <ion-col size="6">
  <label>Nombre del cliente</label>
  <div class="input-container">
    <input type="text" placeholder="Escribe el nombre" [(ngModel)]="clientName">
  </div>
</ion-col>

<ion-col size="6">
  <label>Mesa</label>
  <ion-item>
  <ion-select [(ngModel)]="tableNumber" placeholder="Selecciona una mesa">
  <ion-select-option *ngFor="let mesa of mesasDisponibles" [value]="mesa.id">
    {{ mesa.nombre }}
  </ion-select-option>
</ion-select>

  </ion-item>
</ion-col>




      </ion-row>
    </ion-grid>

    <h2>Productos</h2>
 <div class="products-section">
  <div class="product-cards-container">
   <div class="product-card dynamic-product" *ngFor="let producto of productos">
  {{ producto.nombre }}
  <br>
  <span style="font-size: 11px; color: #666; display: block; margin-top: 4px;">{{ producto.descripcion }}</span>
  <br>
  ${{ producto.precio }}
  <ion-icon  
            name="add-circle" 
            class="add-icon" 
            (click)="addProductToOrder(producto)">
  </ion-icon>
</div>

  </div>
</div>





    
<div class="order-detail-box">
  <h2>Detalle del pedido</h2>
  
  <div class="table-wrapper">
    <table class="order-table">
  <thead>
    <tr>
      <th class="col-nombre">Nombre</th>
      <th class="col-cantidad">Cantidad</th>
      <th class="col-comentarios">Comentarios</th>
      <th class="col-precio">Precio</th>
      <th class="col-acciones">Acciones</th>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngFor="let item of orderItems; let i = index">
      <tr *ngIf="!item.isExtra" [class.highlight-row]="i % 2 === 1">
        <td>
          {{ item.name }}
          <div *ngIf="item.complementos?.length > 0" style="font-size: 12px; color: gray;">
            <span *ngFor="let comp of item.complementos">
              • {{ comp.nombre }} (+${{ comp.precio }})<br>
            </span>
          </div>
        </td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.comment }}</td>
        <td>${{ item.price }}</td>
        <td class="actions-cell">
          <ion-icon name="add-circle-outline" class="add-icon" (click)="agregarComplementos(i)"></ion-icon>
          <ion-icon name="pencil-outline" class="edit-icon" (click)="editItem(i)"></ion-icon>
          <ion-icon name="trash-outline" class="delete-icon" (click)="removeItem(i)"></ion-icon>
        </td>
      </tr>
    </ng-container>

   <tr *ngIf="hasExtras">

      <td colspan="5" style="text-align: center; font-weight: bold; color: green;">
        Extras
      </td>
    </tr>

    <!-- Productos agregados como extras -->
    <ng-container *ngFor="let item of orderItems; let i = index">
      <tr *ngIf="item.isExtra" [class.highlight-row]="i % 2 === 1">
        <td>
          {{ item.name }}
          <div *ngIf="item.complementos?.length > 0" style="font-size: 12px; color: gray;">
            <span *ngFor="let comp of item.complementos">
              • {{ comp.nombre }} (+${{ comp.precio }})<br>
            </span>
          </div>
        </td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.comment }}</td>
        <td>${{ item.price }}</td>
        <td class="actions-cell">
          <ion-icon name="add-circle-outline" class="add-icon" (click)="agregarComplementos(i)"></ion-icon>
          <ion-icon name="pencil-outline" class="edit-icon" (click)="editItem(i)"></ion-icon>
          <ion-icon name="trash-outline" class="delete-icon" (click)="removeItem(i)"></ion-icon>
        </td>
      </tr>
    </ng-container>

  </tbody>
</table>

  </div> <!-- Cierra table-wrapper -->

  <div class="totals-area">
    <div class="total-row"  *ngIf="mostrarPropina">
      <label for="tip-input">Propina</label>
      <div class="tip-input-container">
    <select id="tip-input" class="tip-select" [(ngModel)]="tip" (change)="calculateTotal()">
  <option [value]="0">0.00%</option>
  <option *ngFor="let propina of propinas" [value]="propina.cantidad_porcentaje">
    {{ propina.cantidad_porcentaje }}%
  </option>
</select>



      </div>
    </div>
    <div class="total-row">
      <span class="total-label">Total</span>
      <span class="total-value">${{ totalAmount }}</span>
    </div>
  </div>
</div>



    
<div class="save-button-container">
   <button class="save-button" (click)="backToMenu()">Volver</button>
      <button class="save-button" (click)="saveOrder()">Guardar</button>
     
    </div>

  </div>
  </div>

<div class="main-container" *ngIf="seccionActiva==='resumen' && !showmenu && always">
  <div class="header">
    <h1>Resumen de Órdenes</h1>
  </div>
<div class="table-wrapper">
  <table class="order-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Mesa</th>
        <th>Estatus</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orden of ordenes; let i = index" [class.highlight-row]="i % 2 === 1">
        <td>{{ orden.nombre_orden }}</td>
        <td>{{ orden.mesa }}</td>
        <td>
  <span class="status-badge" [ngClass]="getStatusClass(orden.estatus)">
    {{ orden.estatus }}
  </span>
</td>

        <td>${{ orden.total }}</td>
     <td class="actions-cell">
      <ion-button 
  *ngIf="orden.estatus !== 'Finalizada' && orden.estatus !== 'Cancelada'" 
  fill="outline" 
  size="small" 
  color="danger"
  (click)="cancelarOrden(orden)"
>
  <ion-icon slot="start" name="close-circle-outline"></ion-icon>
  Cancelar
</ion-button>

  <ion-button *ngIf="orden.estatus === 'En proceso'" fill="outline" size="small" color="primary" (click)="verDetalle(orden)">
    <ion-icon slot="start" name="eye-outline"></ion-icon>
    Extras
  </ion-button>

 <ion-button *ngIf="orden.estatus !== 'Finalizada' && orden.estatus !== 'Cancelada'" fill="outline" size="small" color="success" (click)="showPaymentDetails(orden)">
  <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
  Cobrar
</ion-button>


  <!--<ion-button *ngIf="orden.estatus === 'Finalizada'" fill="outline" size="small" color="danger" (click)="eliminarOrden(orden)">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Eliminar
  </ion-button>-->
</td>


      </tr>
    </tbody>
  </table>
  </div>
  <div class="save-button-container">
   <button class="save-button" (click)="backToMenu()">Volver</button>
     
    </div>
</div>

<div class="main-container" *ngIf="seccionActiva==='historial' && always">
  <div class="header">
    <h1>Historial del día</h1>

      <div class="save-button-container">
    <button class="save-button" (click)="descargarPDF()">Descargar reporte</button>

  </div>

  </div>

  <div class="table-wrapper">
    <table class="order-table">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Cliente</th>
          <th>Mesa</th>
          <th>Total</th>
          <th>Estatus</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let h of historial; let i = index" [class.highlight-row]="i % 2 === 1">
          <td>{{ h.fecha | date:'shortTime' }}</td>
          <td>{{ h.nombre_orden }}</td>
          <td>{{ h.mesa }}</td>
          <td>${{ h.total }}</td>
          <td>
            <span class="status-badge" [ngClass]="getStatusClass(h.estatus)">
              {{ h.estatus }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="save-button-container">
    <button class="save-button" (click)="backToMenu()">Volver</button>
  </div>
</div>


  <div *ngIf="seccionActiva==='salir'">
    <h2>Salir de la aplicación</h2>
    <ion-button color="danger" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </div>

<div *ngIf="mostrarDetallePago" class="payment-section ion-padding">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Resumen de la orden
      </ion-card-title>
      <ion-card-subtitle class="ion-text-center">
        Cliente: {{ currentPaymentOrder.client || 'Sin nombre' }} - Mesa: {{ currentPaymentOrder.table || 'Sin mesa' }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-text-bold ion-padding">
          <ion-col size="5">Producto</ion-col>
          <ion-col size="2">Cantidad</ion-col>
          <ion-col size="5">Complementos / Precio</ion-col>
        </ion-row>

        <ion-row *ngFor="let item of currentPaymentOrder.items" class="ion-padding">
          <ion-col size="5">
            {{ item.name }}
          </ion-col>
          <ion-col size="2">
            {{ item.quantity }}
          </ion-col>
          <ion-col size="5">
            <div *ngFor="let c of item.complementos">
              • {{ c.nombre }} (+${{ c.precio }})
            </div>
            <div class="ion-text-end">
              <strong>${{ item.price }}</strong>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="full" color="light">
        <ion-label>Propina</ion-label>
        <ion-select [(ngModel)]="currentPaymentOrder.tip" (ionChange)="updateTip(currentPaymentOrder.tip)">
          <ion-select-option [value]="0">0%</ion-select-option>
          <ion-select-option *ngFor="let p of propinas" [value]="p.cantidad_porcentaje">
            {{ p.cantidad_porcentaje }}%
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" class="ion-text-end ion-padding" color="light">
        <strong>Total a pagar: ${{ currentPaymentOrder.totalAmount }}</strong>
      </ion-item>

      <ion-item color="light">
  <ion-label position="stacked">Cantidad recibida</ion-label>
  <ion-input 
    type="number" 
    [(ngModel)]="paymentReceived" 
    (ionInput)="calculateChange()"
    placeholder="Ingrese con cuánto paga el cliente">
  </ion-input>
</ion-item>

<ion-item color="light">
  <ion-label class="ion-text-end">
    Cambio: <strong>${{ change }}</strong>
  </ion-label>
</ion-item>


      <ion-row class="ion-justify-content-center ion-padding">
        <ion-col size="6" size-sm="4">
          <ion-button expand="block" class="colorpag " (click)="finishPayment()">Pagar</ion-button>
        </ion-col>
        <ion-col size="6" size-sm="4">
          <ion-button expand="block" color="medium" (click)="canceled()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</div>


</ion-content>